---
import SectionTitle from "./SectionTitle.astro";
---
<SectionTitle id="about" title="À propos">
  <div class="prose dark:prose-invert">
    <p>
      Je construis des pipelines de Machine Learning proprement (Docker, CI/CD),
      j’aime l’explicabilité (SHAP, LIME) et la documentation claire pour livrer vite et bien.
    </p>
    <p>Je recherche une alternance Data/ML (12–24 mois) à partir de 2025.</p>
  </div>
</SectionTitle>
